@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.request-form {
  width: 800px;
  height: 700px;
  margin: auto;
  background: rgba(127, 147, 193, 0.5);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.form-header {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #333;
  margin-bottom: 20px;
}

.form-full-name,
.form-email,
.form-issue-type,
.form-tags {
  display: flex;
  flex-direction: column;
  height: 60px;
  margin-bottom: 10px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}

label {
  font-family: "Montserrat", sans-serif;
  width: 150px;
  text-align: left;
}

input {
  background-color: aliceblue;
  width: 550px;
  border-radius: 4px;
}

.form-reproduce-steps {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form-reproduce-steps .form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-reproduce-step {
  display: flex;
  flex-direction: column;
  height: 60px;
}

.form-step-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.form-step-container label {
  width: 160px;
  flex-shrink: 0;
}

.form-step-container input {
  flex-grow: 1;
  margin-right: 80px;
  margin-left: 20px;
  height: 30px;
}

.form-step-container button {
  padding: 4px 8px;
  background-color: #d9534f;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  position: absolute;
  right: 30px;
}

.form-step-container button:hover {
  background-color: #c9302c;
}

.form-reproduce-steps .form-add-step {
  position: absolute;
  bottom: 22px;
  right: 130px;
  padding: 6px 12px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.form-reproduce-steps .form-add-step:hover {
  background-color: #286090;
}

.error-message {
  font-size: 14px;
  margin-top: 4px;
  text-align: left;
  margin-left: 200px;
}

.form-submit {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
